@media (max-width: 440px)
  a.button
    font-size: 14px!important
    font-family: 'bold'
  .free-wrap-bot-form div input[type="submit"]
    width: 100%
  .free-wrap-bot-form div input[type="checkbox"]
    padding: 3px
  #email1
    box-shadow: 0 0 5px rgba(0,0,0,0.4)
  .features-popup div.wrap div.form input
    min-width: 300px
    box-shadow: 0 0 5px rgba(0,0,0,0.3)!important
  .features-popup div.wrap div.form input[type="checkbox"]
    margin-right: 10px
    min-width: auto

  .features-popup, .features-popup p, .features-popup b, .features-popup strong
    font-size: 14px!important
  .popup-pdf input
    padding: 20px
  .popup-pdf input[type="submit"]
    margin-top: 30px
  div.checkbox
    display: flex!important
    align-items: center!important
    justify-content: space-between!important
  .features-popup div.wrap div.form
    display: flex
    flex-direction: column
    align-items: center
    input[type="submit"]
      margin-left: 0
      margin-top: 20px
  .cons-wrap-left ol li
    max-width: 100%
    font-size: 14px
    &:before
      margin-right: 5px
  .release-wrap-item-left-bot
    a.button
      min-width: 320px!important
      font-size: 14px
      padding: 18px 14px
  .header-wrap-top-right
    a
      font-size: 12px
      margin-top: -3px
      img
        max-width: 25px
  .toggle-mob
    top: 75px
  .tog-active
    top: 20px
    right: 20px 
  .blog-wrap-slider
    button.slick-prev
      left: -10px
    button.slick-next
      right: -10px
  .blog-wrap-center
    padding: 35px
  .blog-wrap-center-right
    padding: 0
    padding-top: 20px
  .ethaps
    padding: 30px 0
  .free-wrap-bot-form div input[type="text"]
    width: 100%
  .free-wrap-bot-form
    width: 100%!important
    h3
      font-size: 24px
  .release-wrap
    button.slick-arrow
      left: auto
      right: 30px
      top: 580px
    button.slick-prev
      right: 80px
  .fotorama__nav-wrap
    margin-top: -20px!important
  .fotorama__fullscreen-icon
    right: 10px
    top: 70px
  .release-wrap-item-right
    width: 100%!important  
  .release-wrap-item-left-bot a
    padding: 20px
  .header-wrap-bot-left
    min-width: 300px
    margin-right: 0
    &-bot
      min-width: 320px
    &-top
      min-width: 320px
  .popup-pdf
    h3
      font-size: 18px
    min-width: 320px
  .release-wrap-item-left-center div strong
    font-size: 26px
  input[type="submit"]
    font-size: 16px!important
  .free-wrap-bot-form
    max-width: 100%!important
    input[type="submit"], input[type="text"]
      max-width: 100%!important
      width: 100%!important